<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}SfBonus !{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{asset('css/font.css')}}">
</head>
<body>
<div class="container">

    <header>

        {% include('inc/header.html.twig')%}

    </header>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main>

        <div class="p-3">{% block body %}{% endblock %}</div>

    </main>
    <footer class="bg-light text-center text-lg-start">

        {% include('inc/footer.html.twig')%}

    </footer>

</div>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>